body{
/*    background-color: gray;*/
}

#title{
    font-size:23px;
    margin-top:10px;
    font-weight:bolder;
}

#subTitle{
    text-align:center;
    margin-top:10px;
}

.source{
    color: orangered;
    font-size:13px;
    margin-right: 10px;
}

.articleTags{
    color:skyblue;
    border:1px solid skyblue;
    font-size:13px;
    padding: 2px;
    border-radius:5px;
    margin-right: 10px;
}

.ptime{
    color:gray;
    font-size:13px;
}